<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex</title>
    <%- include("../partials/head.ejs") %>
</head>
<body>
    <div class="header">
        <div><h1>Welcome to the Pokedex</h1></div>
        <div><a href="/poke/new"><button>Add a Pokemon</button></a></div>
    </div>
    <div class="container">
        <ul class="noLikeyDots">
            <% for(let i = 0; i < Pokemon.length; i++){ %>
                
                <div class="pokeCard">
                    <li><h3><%= Pokemon[i].name %></h3></a></li>
                    <li><a href="/poke/<%= i %>"><img src="<%= Pokemon[i].img %>"></a></li>
                </div>
    
            <% } %>
        </ul>
    </div>
    
</body>
</html>