<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Pokemon</title>
    <%- include("../partials/head.ejs") %>
</head>
<body>
    <h1>Form to create a Pokemon</h1>
    <form action="/poke" method="post">
        <input type="text" name="id" placeholder="Suggested ID: <%= Pokemon.length + 1 %>">
        <input type="text" name="name" placeholder="Name">
        <input type="text" name="type" placeholder="Type">
        <input type="text" name="type2" placeholder="2nd Type">
        <input type="text" name="hp" placeholder="HP">
        <input type="text" name="attack" placeholder="Attack">
        <input type="text" name="defense" placeholder="Defense">
        <input type="text" name="spattack" placeholder="Sp Attack">
        <input type="text" name="spdefense" placeholder="Sp Defense">
        <input type="text" name="speed" placeholder="Speed">
        <input type="submit" value="Create Pokemon">
    </form>
</body>
</html>